.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #525577;
  width: 89px;
  height: 30px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #dbddf0;
  border: 0;
  padding: 12px 9px;
  font-weight: 700;
  font-family: 'Spoqa Han Sans Neo';
}

.button.not-allowed {
  color: #adaeb6;
}

.button span {
  /* width: 100%; */
  /* background-color: blue; */
}
