@import url('../components/Logo/Logo.css');
@import url('../components/Button/IconButton.css');
@import url('../components/CardLink/CardLink.css');

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-shoes-shop {
  background-color: #e2999a;
  padding: 0 22px;
  box-sizing: border-box;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-shoes-shop {
  font-size: inherit;
  line-height: 1;
}

.more-shoes-shop-title {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.cardLink-list {
  padding-left: 0;
}
